# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Model weights & large data
*.pkl
*.pth
*.ckpt
03_Result/
inference_cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
